- set_title @page.name

.container
  .row
    .span12
      #components

        -# Text
        .component
          .title-bar
            %h3
              .title-text.pull-left
                Text
              .actions.pull-right
                %a.toggle-component{ href: '#' }
                  %i.icon-chevron-up
                  %i.icon-chevron-down{ style: 'display:none' }

          .content-bar
            #ace-editor
          .footer

        -# Terminfindung
        .component
          .title-bar
            %h3
              .title-text.pull-left
                Terminfindung
              .actions.pull-right
                %a.toggle-component{ href: '#' }
                  %i.icon-chevron-up{ style: 'display:none' }
                  %i.icon-chevron-down

          .content-bar{ style: 'display:none' }
            TODO Terminfindung
          .footer

        -# Abstimmung
        .component
          .title-bar
            %h3
              .title-text.pull-left
                Abstimmung
              .actions.pull-right
                %a.toggle-component{ href: '#' }
                  %i.icon-chevron-up{ style: 'display:none' }
                  %i.icon-chevron-down

          .content-bar{ style: 'display:none' }
            TODO Abstimmung
          .footer

:javascript
  window.current_page_token = "channel_#{@page.token}";