#new-page {
  font-size: 26px;
  padding: 30px 50px;
  font-weight: bold;
}

#known-pages {
  margin-top: 30px;
  margin-bottom: 30px;
}

#about-doggytag {
  margin-top: 90px;
  padding: 20px;
  background-color: #4e90ff;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;

  :first-child {
    color: #f0f0f0;
  }
}

.big-text {
  font-size: 50px;
  font-weight: bold;
  margin: 30px 0;
  text-shadow: 0 -1px 1px rgb(35, 86, 172), 0 1px 1px rgb(152, 190, 255);
}

.text-block {
  text-align: left;
  width: 750px;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  line-height: 1.4em;
}