@import "twitter/bootstrap/mixins";

#editor-wrapper {

  #ace-editor {
    color: #275DB9;
    background-color: #f8f8f8;
  }
  .ace_scrollbar {
    display: none !important;
  }
  .ace-chrome .ace_marker-layer .ace_active-line {
    background: rgba(0, 0, 0, 0.02);
  }
}